Repository blitzytest/p1-ib1087, changes with the owners that .github/CODEOWNERS names for each.
All owners: @project-leads, @backend-team, @security-team, @frontend-team, @devops-team, @database-team, @qa-team

Add public-samples/p1-ib1087/src/backend/auth-service/tsconfig.json
  src/backend/auth-service/tsconfig.json
Owners: @backend-team, @frontend-team

Add public-samples/p1-ib1087/src/backend/auth-service/src/app.ts
  src/backend/auth-service/src/app.ts
Owners: @security-team, @backend-team

Add public-samples/p1-ib1087/src/backend/auth-service/src/config/index.ts
  src/backend/auth-service/src/config/index.ts
Owners: @security-team, @backend-team

Add public-samples/p1-ib1087/src/backend/auth-service/src/types/index.ts
  src/backend/auth-service/src/types/index.ts
Owners: @security-team, @backend-team

Add public-samples/p1-ib1087/src/backend/budget-service/Dockerfile
  src/backend/budget-service/Dockerfile
Owners: @devops-team

Add public-samples/p1-ib1087/src/backend/budget-service/package.json
  src/backend/budget-service/package.json
Owners: @devops-team, @backend-team

Add public-samples/p1-ib1087/src/backend/budget-service/tsconfig.json
  src/backend/budget-service/tsconfig.json
Owners: @backend-team, @frontend-team

Add public-samples/p1-ib1087/src/backend/budget-service/src/app.ts
  src/backend/budget-service/src/app.ts
Owners: @backend-team

Add public-samples/p1-ib1087/src/backend/budget-service/src/config/index.ts
  src/backend/budget-service/src/config/index.ts
Owners: @backend-team

Add public-samples/p1-ib1087/src/backend/budget-service/src/types/index.ts
  src/backend/budget-service/src/types/index.ts
Owners: @backend-team

Add public-samples/p1-ib1087/src/backend/db/migrations/accounts/001_create_accounts.ts
  src/backend/db/migrations/accounts/001_create_accounts.ts
Owners: @backend-team

Add public-samples/p1-ib1087/src/backend/db/migrations/auth/001_create_users.ts
  src/backend/db/migrations/auth/001_create_users.ts
Owners: @backend-team

Add public-samples/p1-ib1087/src/backend/db/migrations/budgets/001_create_budgets.ts
  src/backend/db/migrations/budgets/001_create_budgets.ts
Owners: @backend-team

Add public-samples/p1-ib1087/src/backend/db/migrations/investments/001_create_investments.ts
  src/backend/db/migrations/investments/001_create_investments.ts
Owners: @backend-team

Add public-samples/p1-ib1087/src/backend/db/migrations/transactions/001_create_transactions.ts
  src/backend/db/migrations/transactions/001_create_transactions.ts
Owners: @backend-team

Add public-samples/p1-ib1087/src/backend/db/seeds/accounts/001_seed_accounts.ts
  src/backend/db/seeds/accounts/001_seed_accounts.ts
Owners: @backend-team

Add public-samples/p1-ib1087/src/backend/db/seeds/auth/001_seed_users.ts
  src/backend/db/seeds/auth/001_seed_users.ts
Owners: @backend-team

Add public-samples/p1-ib1087/src/backend/docs/api/accounts.yaml
  src/backend/docs/api/accounts.yaml
Owners: @backend-team

Add public-samples/p1-ib1087/src/backend/docs/api/auth.yaml
  src/backend/docs/api/auth.yaml
Owners: @backend-team

Add public-samples/p1-ib1087/src/backend/docs/api/budgets.yaml
  src/backend/docs/api/budgets.yaml
Owners: @backend-team

Add public-samples/p1-ib1087/src/backend/docs/api/investments.yaml
  src/backend/docs/api/investments.yaml
Owners: @backend-team

Add public-samples/p1-ib1087/src/backend/docs/api/transactions.yaml
  src/backend/docs/api/transactions.yaml
Owners: @backend-team

Add public-samples/p1-ib1087/src/backend/investment-service/Dockerfile
  src/backend/investment-service/Dockerfile
Owners: @devops-team

Add public-samples/p1-ib1087/src/backend/investment-service/package.json
  src/backend/investment-service/package.json
Owners: @devops-team, @backend-team

Add public-samples/p1-ib1087/src/backend/investment-service/tsconfig.json
  src/backend/investment-service/tsconfig.json
Owners: @backend-team, @frontend-team

Add public-samples/p1-ib1087/src/backend/investment-service/src/app.ts
  src/backend/investment-service/src/app.ts
Owners: @backend-team

Add public-samples/p1-ib1087/src/backend/investment-service/src/config/index.ts
  src/backend/investment-service/src/config/index.ts
Owners: @backend-team

Add public-samples/p1-ib1087/src/backend/investment-service/src/types/index.ts
  src/backend/investment-service/src/types/index.ts
Owners: @backend-team

Add public-samples/p1-ib1087/src/backend/k8s/account-service.yaml
  src/backend/k8s/account-service.yaml
Owners: @backend-team

Add public-samples/p1-ib1087/src/backend/k8s/api-gateway.yaml
  src/backend/k8s/api-gateway.yaml
Owners: @backend-team

Add public-samples/p1-ib1087/src/backend/k8s/auth-service.yaml
  src/backend/k8s/auth-service.yaml
Owners: @backend-team

Add public-samples/p1-ib1087/src/backend/k8s/budget-service.yaml
  src/backend/k8s/budget-service.yaml
Owners: @backend-team

Add public-samples/p1-ib1087/src/backend/k8s/configmap.yaml
  src/backend/k8s/configmap.yaml
Owners: @backend-team

Add public-samples/p1-ib1087/src/backend/k8s/ingress.yaml
  src/backend/k8s/ingress.yaml
Owners: @backend-team

Add public-samples/p1-ib1087/src/backend/k8s/investment-service.yaml
  src/backend/k8s/investment-service.yaml
Owners: @backend-team

Add public-samples/p1-ib1087/src/backend/k8s/secrets.yaml
  src/backend/k8s/secrets.yaml
Owners: @backend-team

Add public-samples/p1-ib1087/src/backend/k8s/transaction-service.yaml
  src/backend/k8s/transaction-service.yaml
Owners: @backend-team

Add public-samples/p1-ib1087/src/backend/shared/constants/index.ts
  src/backend/shared/constants/index.ts
Owners: @backend-team

Add public-samples/p1-ib1087/src/backend/shared/errors/index.ts
  src/backend/shared/errors/index.ts
Owners: @backend-team

Add public-samples/p1-ib1087/src/backend/shared/interfaces/index.ts
  src/backend/shared/interfaces/index.ts
Owners: @backend-team

.github/CODEOWNERS:

# These owners will be the default owners for everything in
# the repository unless a later match takes precedence
* @project-leads

# Backend service ownership
src/backend/**/* @backend-team

# Authentication service requires security team review
src/backend/auth-service/**/* @security-team @backend-team

# Frontend/Mobile app ownership
src/web/**/* @frontend-team
mobile/**/* @frontend-team

# Infrastructure and deployment configuration
infrastructure/**/* @devops-team
terraform/**/* @devops-team
k8s/**/* @devops-team

# CI/CD workflow configurations
.github/workflows/* @devops-team

# Database migrations require both DB and backend team approval
src/backend/db/migrations/* @database-team @backend-team

# Test files require QA team review
src/backend/**/test/**/* @qa-team @backend-team
src/web/test/**/* @qa-team @frontend-team
mobile/test/**/* @qa-team @frontend-team

# Security-sensitive areas require security team review
src/backend/**/security/**/* @security-team
src/backend/auth-service/src/crypto/**/* @security-team
src/backend/shared/security/**/* @security-team

# API Gateway configuration
src/backend/api-gateway/**/* @backend-team @devops-team

# Core service implementations
src/backend/account-service/**/* @backend-team
src/backend/transaction-service/**/* @backend-team
src/backend/budget-service/**/* @backend-team
src/backend/investment-service/**/* @backend-team

# Shared libraries and utilities
src/backend/shared/**/* @backend-team

# Documentation ownership
docs/**/* @project-leads @backend-team @frontend-team

# Package dependencies and lock files
package.json @devops-team @backend-team
package-lock.json @devops-team @backend-team
yarn.lock @devops-team @backend-team

# Configuration files
.env.example @devops-team
.eslintrc* @backend-team @frontend-team
.prettierrc* @backend-team @frontend-team
tsconfig.json @backend-team @frontend-team

# Docker configurations
Dockerfile* @devops-team
docker-compose*.yml @devops-team
.dockerignore @devops-team
