Repository blitzytest/p1-ib1087, changes with the owners that .github/CODEOWNERS names for each.
All owners: @project-leads, @backend-team, @security-team, @frontend-team, @devops-team, @database-team, @qa-team

.github/CODEOWNERS:

# These owners will be the default owners for everything in
# the repository unless a later match takes precedence
* @project-leads

# Backend service ownership
src/backend/**/* @backend-team

# Authentication service requires security team review
src/backend/auth-service/**/* @security-team @backend-team

# Frontend/Mobile app ownership
src/web/**/* @frontend-team
mobile/**/* @frontend-team

# Infrastructure and deployment configuration
infrastructure/**/* @devops-team
terraform/**/* @devops-team
k8s/**/* @devops-team

# CI/CD workflow configurations
.github/workflows/* @devops-team

# Database migrations require both DB and backend team approval
src/backend/db/migrations/* @database-team @backend-team

# Test files require QA team review
src/backend/**/test/**/* @qa-team @backend-team
src/web/test/**/* @qa-team @frontend-team
mobile/test/**/* @qa-team @frontend-team

# Security-sensitive areas require security team review
src/backend/**/security/**/* @security-team
src/backend/auth-service/src/crypto/**/* @security-team
src/backend/shared/security/**/* @security-team

# API Gateway configuration
src/backend/api-gateway/**/* @backend-team @devops-team

# Core service implementations
src/backend/account-service/**/* @backend-team
src/backend/transaction-service/**/* @backend-team
src/backend/budget-service/**/* @backend-team
src/backend/investment-service/**/* @backend-team

# Shared libraries and utilities
src/backend/shared/**/* @backend-team

# Documentation ownership
docs/**/* @project-leads @backend-team @frontend-team

# Package dependencies and lock files
package.json @devops-team @backend-team
package-lock.json @devops-team @backend-team
yarn.lock @devops-team @backend-team

# Configuration files
.env.example @devops-team
.eslintrc* @backend-team @frontend-team
.prettierrc* @backend-team @frontend-team
tsconfig.json @backend-team @frontend-team

# Docker configurations
Dockerfile* @devops-team
docker-compose*.yml @devops-team
.dockerignore @devops-team

Add public-samples/p1-ib1087/src/backend/account-service/src/services/plaid.service.ts
  src/backend/account-service/src/services/plaid.service.ts
Owners: @backend-team

Add public-samples/p1-ib1087/src/backend/account-service/src/types/index.ts
  src/backend/account-service/src/types/index.ts
Owners: @backend-team

Add public-samples/p1-ib1087/src/backend/account-service/src/validation/account.validation.ts
  src/backend/account-service/src/validation/account.validation.ts
Owners: @backend-team

Add public-samples/p1-ib1087/src/backend/account-service/test/integration/account.test.ts
  src/backend/account-service/test/integration/account.test.ts
Owners: @backend-team

Add public-samples/p1-ib1087/src/backend/account-service/test/unit/services.test.ts
  src/backend/account-service/test/unit/services.test.ts
Owners: @backend-team

Add public-samples/p1-ib1087/src/backend/api-gateway/Dockerfile
  src/backend/api-gateway/Dockerfile
Owners: @devops-team

Add public-samples/p1-ib1087/src/backend/api-gateway/package.json
  src/backend/api-gateway/package.json
Owners: @devops-team, @backend-team

Add public-samples/p1-ib1087/src/backend/api-gateway/tsconfig.json
  src/backend/api-gateway/tsconfig.json
Owners: @backend-team, @frontend-team

Add public-samples/p1-ib1087/src/backend/api-gateway/src/app.ts
  src/backend/api-gateway/src/app.ts
Owners: @backend-team, @devops-team

Add public-samples/p1-ib1087/src/backend/api-gateway/src/config/index.ts
  src/backend/api-gateway/src/config/index.ts
Owners: @backend-team, @devops-team

Add public-samples/p1-ib1087/src/backend/api-gateway/src/middleware/auth.middleware.ts
  src/backend/api-gateway/src/middleware/auth.middleware.ts
Owners: @backend-team, @devops-team

Add public-samples/p1-ib1087/src/backend/api-gateway/src/middleware/error.middleware.ts
  src/backend/api-gateway/src/middleware/error.middleware.ts
Owners: @backend-team, @devops-team

Add public-samples/p1-ib1087/src/backend/api-gateway/src/middleware/logging.middleware.ts
  src/backend/api-gateway/src/middleware/logging.middleware.ts
Owners: @backend-team, @devops-team

Add public-samples/p1-ib1087/src/backend/api-gateway/src/middleware/ratelimit.middleware.ts
  src/backend/api-gateway/src/middleware/ratelimit.middleware.ts
Owners: @backend-team, @devops-team

Add public-samples/p1-ib1087/src/backend/api-gateway/src/routes/index.ts
  src/backend/api-gateway/src/routes/index.ts
Owners: @backend-team, @devops-team

Add public-samples/p1-ib1087/src/backend/api-gateway/src/types/index.ts
  src/backend/api-gateway/src/types/index.ts
Owners: @backend-team, @devops-team

Add public-samples/p1-ib1087/src/backend/api-gateway/test/integration/gateway.test.ts
  src/backend/api-gateway/test/integration/gateway.test.ts
Owners: @backend-team, @devops-team

Add public-samples/p1-ib1087/src/backend/api-gateway/test/unit/middleware.test.ts
  src/backend/api-gateway/test/unit/middleware.test.ts
Owners: @backend-team, @devops-team

Add public-samples/p1-ib1087/src/backend/auth-service/Dockerfile
  src/backend/auth-service/Dockerfile
Owners: @devops-team

Add public-samples/p1-ib1087/src/backend/auth-service/package.json
  src/backend/auth-service/package.json
Owners: @devops-team, @backend-team

Add public-samples/p1-ib1087/src/backend/auth-service/tsconfig.json
  src/backend/auth-service/tsconfig.json
Owners: @backend-team, @frontend-team

Add public-samples/p1-ib1087/src/backend/auth-service/src/app.ts
  src/backend/auth-service/src/app.ts
Owners: @security-team, @backend-team

Add public-samples/p1-ib1087/src/backend/auth-service/src/config/index.ts
  src/backend/auth-service/src/config/index.ts
Owners: @security-team, @backend-team

Add public-samples/p1-ib1087/src/backend/auth-service/src/controllers/auth.controller.ts
  src/backend/auth-service/src/controllers/auth.controller.ts
Owners: @security-team, @backend-team

Add public-samples/p1-ib1087/src/backend/auth-service/src/models/user.model.ts
  src/backend/auth-service/src/models/user.model.ts
Owners: @security-team, @backend-team

Add public-samples/p1-ib1087/src/backend/auth-service/src/repositories/user.repository.ts
  src/backend/auth-service/src/repositories/user.repository.ts
Owners: @security-team, @backend-team

Add public-samples/p1-ib1087/src/backend/auth-service/src/services/auth.service.ts
  src/backend/auth-service/src/services/auth.service.ts
Owners: @security-team, @backend-team

Add public-samples/p1-ib1087/src/backend/auth-service/src/services/jwt.service.ts
  src/backend/auth-service/src/services/jwt.service.ts
Owners: @security-team, @backend-team

Add public-samples/p1-ib1087/src/backend/auth-service/src/services/mfa.service.ts
  src/backend/auth-service/src/services/mfa.service.ts
Owners: @security-team, @backend-team

Add public-samples/p1-ib1087/src/backend/auth-service/src/types/index.ts
  src/backend/auth-service/src/types/index.ts
Owners: @security-team, @backend-team

Add public-samples/p1-ib1087/src/backend/auth-service/src/validation/auth.validation.ts
  src/backend/auth-service/src/validation/auth.validation.ts
Owners: @security-team, @backend-team

Add public-samples/p1-ib1087/src/backend/auth-service/test/integration/auth.test.ts
  src/backend/auth-service/test/integration/auth.test.ts
Owners: @qa-team, @backend-team

Add public-samples/p1-ib1087/src/backend/auth-service/test/unit/services.test.ts
  src/backend/auth-service/test/unit/services.test.ts
Owners: @qa-team, @backend-team

Add public-samples/p1-ib1087/src/backend/budget-service/Dockerfile
  src/backend/budget-service/Dockerfile
Owners: @devops-team

Add public-samples/p1-ib1087/src/backend/budget-service/package.json
  src/backend/budget-service/package.json
Owners: @devops-team, @backend-team

Add public-samples/p1-ib1087/src/backend/budget-service/tsconfig.json
  src/backend/budget-service/tsconfig.json
Owners: @backend-team, @frontend-team

Add public-samples/p1-ib1087/src/backend/budget-service/src/app.ts
  src/backend/budget-service/src/app.ts
Owners: @backend-team

Add public-samples/p1-ib1087/src/backend/budget-service/src/config/index.ts
  src/backend/budget-service/src/config/index.ts
Owners: @backend-team

Add public-samples/p1-ib1087/src/backend/budget-service/src/controllers/budget.controller.ts
  src/backend/budget-service/src/controllers/budget.controller.ts
Owners: @backend-team

Add public-samples/p1-ib1087/src/backend/budget-service/src/models/budget.model.ts
  src/backend/budget-service/src/models/budget.model.ts
Owners: @backend-team
