Repository blitzytest/p1-ib1087, changes with the owners that .github/CODEOWNERS names for each.
All owners: @project-leads, @backend-team, @security-team, @frontend-team, @devops-team, @database-team, @qa-team

Add public-samples/p1-ib1087/infrastructure/terraform/environments/dr/main.tf
  infrastructure/terraform/environments/dr/main.tf
Owners: @devops-team

Add public-samples/p1-ib1087/infrastructure/terraform/environments/prod/main.tf
  infrastructure/terraform/environments/prod/main.tf
Owners: @devops-team

Add public-samples/p1-ib1087/infrastructure/terraform/environments/staging/main.tf
  infrastructure/terraform/environments/staging/main.tf
Owners: @devops-team

Add public-samples/p1-ib1087/infrastructure/terraform/modules/eks/main.tf
  infrastructure/terraform/modules/eks/main.tf
Owners: @devops-team

Add public-samples/p1-ib1087/infrastructure/terraform/modules/eks/outputs.tf
  infrastructure/terraform/modules/eks/outputs.tf
Owners: @devops-team

Add public-samples/p1-ib1087/infrastructure/terraform/modules/eks/variables.tf
  infrastructure/terraform/modules/eks/variables.tf
Owners: @devops-team

Add public-samples/p1-ib1087/infrastructure/terraform/modules/elasticache/main.tf
  infrastructure/terraform/modules/elasticache/main.tf
Owners: @devops-team

Add public-samples/p1-ib1087/infrastructure/terraform/modules/elasticache/outputs.tf
  infrastructure/terraform/modules/elasticache/outputs.tf
Owners: @devops-team

Add public-samples/p1-ib1087/infrastructure/terraform/modules/elasticache/variables.tf
  infrastructure/terraform/modules/elasticache/variables.tf
Owners: @devops-team

Add public-samples/p1-ib1087/infrastructure/terraform/modules/rds/main.tf
  infrastructure/terraform/modules/rds/main.tf
Owners: @devops-team

Add public-samples/p1-ib1087/infrastructure/terraform/modules/rds/outputs.tf
  infrastructure/terraform/modules/rds/outputs.tf
Owners: @devops-team

Add public-samples/p1-ib1087/infrastructure/terraform/modules/rds/variables.tf
  infrastructure/terraform/modules/rds/variables.tf
Owners: @devops-team

Add public-samples/p1-ib1087/infrastructure/terraform/modules/vpc/main.tf
  infrastructure/terraform/modules/vpc/main.tf
Owners: @devops-team

Add public-samples/p1-ib1087/infrastructure/terraform/modules/vpc/outputs.tf
  infrastructure/terraform/modules/vpc/outputs.tf
Owners: @devops-team

Add public-samples/p1-ib1087/infrastructure/terraform/modules/vpc/variables.tf
  infrastructure/terraform/modules/vpc/variables.tf
Owners: @devops-team

Add public-samples/p1-ib1087/src/backend/.dockerignore
  src/backend/.dockerignore
Owners: @devops-team

Add public-samples/p1-ib1087/src/backend/.eslintrc.json
  src/backend/.eslintrc.json
Owners: @backend-team, @frontend-team

Add public-samples/p1-ib1087/src/backend/.prettierrc
  src/backend/.prettierrc
Owners: @backend-team, @frontend-team

Add public-samples/p1-ib1087/src/backend/Dockerfile
  src/backend/Dockerfile
Owners: @devops-team

Add public-samples/p1-ib1087/src/backend/README.md
  src/backend/README.md
Owners: @backend-team

Add public-samples/p1-ib1087/src/backend/docker-compose.yml
  src/backend/docker-compose.yml
Owners: @devops-team

Add public-samples/p1-ib1087/src/backend/lerna.json
  src/backend/lerna.json
Owners: @backend-team

Add public-samples/p1-ib1087/src/backend/nodemon.json
  src/backend/nodemon.json
Owners: @backend-team

Add public-samples/p1-ib1087/src/backend/package.json
  src/backend/package.json
Owners: @devops-team, @backend-team

Add public-samples/p1-ib1087/src/backend/tsconfig.json
  src/backend/tsconfig.json
Owners: @backend-team, @frontend-team

Add public-samples/p1-ib1087/src/backend/account-service/Dockerfile
  src/backend/account-service/Dockerfile
Owners: @devops-team

Add public-samples/p1-ib1087/src/backend/account-service/package.json
  src/backend/account-service/package.json
Owners: @devops-team, @backend-team

Add public-samples/p1-ib1087/src/backend/account-service/tsconfig.json
  src/backend/account-service/tsconfig.json
Owners: @backend-team, @frontend-team

Add public-samples/p1-ib1087/src/backend/account-service/src/app.ts
  src/backend/account-service/src/app.ts
Owners: @backend-team

Add public-samples/p1-ib1087/src/backend/account-service/src/config/index.ts
  src/backend/account-service/src/config/index.ts
Owners: @backend-team

Add public-samples/p1-ib1087/src/backend/account-service/src/types/index.ts
  src/backend/account-service/src/types/index.ts
Owners: @backend-team

Add public-samples/p1-ib1087/src/backend/api-gateway/Dockerfile
  src/backend/api-gateway/Dockerfile
Owners: @devops-team

Add public-samples/p1-ib1087/src/backend/api-gateway/package.json
  src/backend/api-gateway/package.json
Owners: @devops-team, @backend-team

Add public-samples/p1-ib1087/src/backend/api-gateway/tsconfig.json
  src/backend/api-gateway/tsconfig.json
Owners: @backend-team, @frontend-team

Add public-samples/p1-ib1087/src/backend/api-gateway/src/app.ts
  src/backend/api-gateway/src/app.ts
Owners: @backend-team, @devops-team

Add public-samples/p1-ib1087/src/backend/api-gateway/src/config/index.ts
  src/backend/api-gateway/src/config/index.ts
Owners: @backend-team, @devops-team

Add public-samples/p1-ib1087/src/backend/api-gateway/src/routes/index.ts
  src/backend/api-gateway/src/routes/index.ts
Owners: @backend-team, @devops-team

Add public-samples/p1-ib1087/src/backend/api-gateway/src/types/index.ts
  src/backend/api-gateway/src/types/index.ts
Owners: @backend-team, @devops-team

Add public-samples/p1-ib1087/src/backend/auth-service/Dockerfile
  src/backend/auth-service/Dockerfile
Owners: @devops-team

Add public-samples/p1-ib1087/src/backend/auth-service/package.json
  src/backend/auth-service/package.json
Owners: @devops-team, @backend-team

.github/CODEOWNERS:

# These owners will be the default owners for everything in
# the repository unless a later match takes precedence
* @project-leads

# Backend service ownership
src/backend/**/* @backend-team

# Authentication service requires security team review
src/backend/auth-service/**/* @security-team @backend-team

# Frontend/Mobile app ownership
src/web/**/* @frontend-team
mobile/**/* @frontend-team

# Infrastructure and deployment configuration
infrastructure/**/* @devops-team
terraform/**/* @devops-team
k8s/**/* @devops-team

# CI/CD workflow configurations
.github/workflows/* @devops-team

# Database migrations require both DB and backend team approval
src/backend/db/migrations/* @database-team @backend-team

# Test files require QA team review
src/backend/**/test/**/* @qa-team @backend-team
src/web/test/**/* @qa-team @frontend-team
mobile/test/**/* @qa-team @frontend-team

# Security-sensitive areas require security team review
src/backend/**/security/**/* @security-team
src/backend/auth-service/src/crypto/**/* @security-team
src/backend/shared/security/**/* @security-team

# API Gateway configuration
src/backend/api-gateway/**/* @backend-team @devops-team

# Core service implementations
src/backend/account-service/**/* @backend-team
src/backend/transaction-service/**/* @backend-team
src/backend/budget-service/**/* @backend-team
src/backend/investment-service/**/* @backend-team

# Shared libraries and utilities
src/backend/shared/**/* @backend-team

# Documentation ownership
docs/**/* @project-leads @backend-team @frontend-team

# Package dependencies and lock files
package.json @devops-team @backend-team
package-lock.json @devops-team @backend-team
yarn.lock @devops-team @backend-team

# Configuration files
.env.example @devops-team
.eslintrc* @backend-team @frontend-team
.prettierrc* @backend-team @frontend-team
tsconfig.json @backend-team @frontend-team

# Docker configurations
Dockerfile* @devops-team
docker-compose*.yml @devops-team
.dockerignore @devops-team
