Repository blitzytest/p1-ib1087, changes with the owners that .github/CODEOWNERS names for each.
All owners: @project-leads, @backend-team, @security-team, @frontend-team, @devops-team, @database-team, @qa-team

.github/CODEOWNERS:

# These owners will be the default owners for everything in
# the repository unless a later match takes precedence
* @project-leads

# Backend service ownership
src/backend/**/* @backend-team

# Authentication service requires security team review
src/backend/auth-service/**/* @security-team @backend-team

# Frontend/Mobile app ownership
src/web/**/* @frontend-team
mobile/**/* @frontend-team

# Infrastructure and deployment configuration
infrastructure/**/* @devops-team
terraform/**/* @devops-team
k8s/**/* @devops-team

# CI/CD workflow configurations
.github/workflows/* @devops-team

# Database migrations require both DB and backend team approval
src/backend/db/migrations/* @database-team @backend-team

# Test files require QA team review
src/backend/**/test/**/* @qa-team @backend-team
src/web/test/**/* @qa-team @frontend-team
mobile/test/**/* @qa-team @frontend-team

# Security-sensitive areas require security team review
src/backend/**/security/**/* @security-team
src/backend/auth-service/src/crypto/**/* @security-team
src/backend/shared/security/**/* @security-team

# API Gateway configuration
src/backend/api-gateway/**/* @backend-team @devops-team

# Core service implementations
src/backend/account-service/**/* @backend-team
src/backend/transaction-service/**/* @backend-team
src/backend/budget-service/**/* @backend-team
src/backend/investment-service/**/* @backend-team

# Shared libraries and utilities
src/backend/shared/**/* @backend-team

# Documentation ownership
docs/**/* @project-leads @backend-team @frontend-team

# Package dependencies and lock files
package.json @devops-team @backend-team
package-lock.json @devops-team @backend-team
yarn.lock @devops-team @backend-team

# Configuration files
.env.example @devops-team
.eslintrc* @backend-team @frontend-team
.prettierrc* @backend-team @frontend-team
tsconfig.json @backend-team @frontend-team

# Docker configurations
Dockerfile* @devops-team
docker-compose*.yml @devops-team
.dockerignore @devops-team

Add public-samples/p1-ib1087/src/backend/shared/middleware/error-handler.ts
  src/backend/shared/middleware/error-handler.ts
Owners: @backend-team

Add public-samples/p1-ib1087/src/backend/shared/middleware/logger.ts
  src/backend/shared/middleware/logger.ts
Owners: @backend-team

Add public-samples/p1-ib1087/src/backend/shared/middleware/validator.ts
  src/backend/shared/middleware/validator.ts
Owners: @backend-team

Add public-samples/p1-ib1087/src/backend/shared/utils/encryption.ts
  src/backend/shared/utils/encryption.ts
Owners: @backend-team

Add public-samples/p1-ib1087/src/backend/shared/utils/logger.ts
  src/backend/shared/utils/logger.ts
Owners: @backend-team

Add public-samples/p1-ib1087/src/backend/shared/utils/validator.ts
  src/backend/shared/utils/validator.ts
Owners: @backend-team

Add public-samples/p1-ib1087/src/backend/transaction-service/Dockerfile
  src/backend/transaction-service/Dockerfile
Owners: @devops-team

Add public-samples/p1-ib1087/src/backend/transaction-service/package.json
  src/backend/transaction-service/package.json
Owners: @devops-team, @backend-team

Add public-samples/p1-ib1087/src/backend/transaction-service/tsconfig.json
  src/backend/transaction-service/tsconfig.json
Owners: @backend-team, @frontend-team

Add public-samples/p1-ib1087/src/backend/transaction-service/src/app.ts
  src/backend/transaction-service/src/app.ts
Owners: @backend-team

Add public-samples/p1-ib1087/src/backend/transaction-service/src/config/index.ts
  src/backend/transaction-service/src/config/index.ts
Owners: @backend-team

Add public-samples/p1-ib1087/src/backend/transaction-service/src/types/index.ts
  src/backend/transaction-service/src/types/index.ts
Owners: @backend-team

Add public-samples/p1-ib1087/src/web/.dockerignore
  src/web/.dockerignore
Owners: @devops-team

Add public-samples/p1-ib1087/src/web/.eslintrc.json
  src/web/.eslintrc.json
Owners: @backend-team, @frontend-team

Add public-samples/p1-ib1087/src/web/.prettierrc
  src/web/.prettierrc
Owners: @backend-team, @frontend-team

Add public-samples/p1-ib1087/src/web/README.md
  src/web/README.md
Owners: @frontend-team

Add public-samples/p1-ib1087/src/web/app.json
  src/web/app.json
Owners: @frontend-team

Add public-samples/p1-ib1087/src/web/index.js
  src/web/index.js
Owners: @frontend-team

Add public-samples/p1-ib1087/src/web/package.json
  src/web/package.json
Owners: @devops-team, @backend-team

Add public-samples/p1-ib1087/src/web/tsconfig.json
  src/web/tsconfig.json
Owners: @backend-team, @frontend-team

Add public-samples/p1-ib1087/src/web/android/app/build.gradle
  src/web/android/app/build.gradle
Owners: @frontend-team

Add public-samples/p1-ib1087/src/web/android/app/src/main/AndroidManifest.xml
  src/web/android/app/src/main/AndroidManifest.xml
Owners: @frontend-team

Add public-samples/p1-ib1087/src/web/android/app/src/main/java/com/mintclone/MainActivity.java
  src/web/android/app/src/main/java/com/mintclone/MainActivity.java
Owners: @frontend-team

Add public-samples/p1-ib1087/src/web/ios/AppDelegate.mm
  src/web/ios/AppDelegate.mm
Owners: @frontend-team

Add public-samples/p1-ib1087/src/web/ios/Info.plist
  src/web/ios/Info.plist
Owners: @frontend-team

Add public-samples/p1-ib1087/src/web/ios/Podfile
  src/web/ios/Podfile
Owners: @frontend-team

Add public-samples/p1-ib1087/src/web/src/App.tsx
  src/web/src/App.tsx
Owners: @frontend-team

Add public-samples/p1-ib1087/src/web/src/assets/fonts/index.ts
  src/web/src/assets/fonts/index.ts
Owners: @frontend-team

Add public-samples/p1-ib1087/src/web/src/assets/icons/index.ts
  src/web/src/assets/icons/index.ts
Owners: @frontend-team

Add public-samples/p1-ib1087/src/web/src/assets/images/index.ts
  src/web/src/assets/images/index.ts
Owners: @frontend-team

Add public-samples/p1-ib1087/src/web/src/components/accounts/AccountCard.tsx
  src/web/src/components/accounts/AccountCard.tsx
Owners: @frontend-team

Add public-samples/p1-ib1087/src/web/src/components/accounts/AccountForm.tsx
  src/web/src/components/accounts/AccountForm.tsx
Owners: @frontend-team

Add public-samples/p1-ib1087/src/web/src/components/accounts/PlaidLink.tsx
  src/web/src/components/accounts/PlaidLink.tsx
Owners: @frontend-team

Add public-samples/p1-ib1087/src/web/src/components/auth/AuthForm.tsx
  src/web/src/components/auth/AuthForm.tsx
Owners: @frontend-team

Add public-samples/p1-ib1087/src/web/src/components/auth/AuthHeader.tsx
  src/web/src/components/auth/AuthHeader.tsx
Owners: @frontend-team

Add public-samples/p1-ib1087/src/web/src/components/auth/BiometricPrompt.tsx
  src/web/src/components/auth/BiometricPrompt.tsx
Owners: @frontend-team

Add public-samples/p1-ib1087/src/web/src/components/budgets/BudgetCard.tsx
  src/web/src/components/budgets/BudgetCard.tsx
Owners: @frontend-team

Add public-samples/p1-ib1087/src/web/src/components/budgets/BudgetChart.tsx
  src/web/src/components/budgets/BudgetChart.tsx
Owners: @frontend-team

Add public-samples/p1-ib1087/src/web/src/components/budgets/BudgetForm.tsx
  src/web/src/components/budgets/BudgetForm.tsx
Owners: @frontend-team

Add public-samples/p1-ib1087/src/web/src/components/common/Alert.tsx
  src/web/src/components/common/Alert.tsx
Owners: @frontend-team
