Repository blitzytest/p1-ib1087, changes with the owners that .github/CODEOWNERS names for each.
All owners: @project-leads, @backend-team, @security-team, @frontend-team, @devops-team, @database-team, @qa-team

.github/CODEOWNERS:

# These owners will be the default owners for everything in
# the repository unless a later match takes precedence
* @project-leads

# Backend service ownership
src/backend/**/* @backend-team

# Authentication service requires security team review
src/backend/auth-service/**/* @security-team @backend-team

# Frontend/Mobile app ownership
src/web/**/* @frontend-team
mobile/**/* @frontend-team

# Infrastructure and deployment configuration
infrastructure/**/* @devops-team
terraform/**/* @devops-team
k8s/**/* @devops-team

# CI/CD workflow configurations
.github/workflows/* @devops-team

# Database migrations require both DB and backend team approval
src/backend/db/migrations/* @database-team @backend-team

# Test files require QA team review
src/backend/**/test/**/* @qa-team @backend-team
src/web/test/**/* @qa-team @frontend-team
mobile/test/**/* @qa-team @frontend-team

# Security-sensitive areas require security team review
src/backend/**/security/**/* @security-team
src/backend/auth-service/src/crypto/**/* @security-team
src/backend/shared/security/**/* @security-team

# API Gateway configuration
src/backend/api-gateway/**/* @backend-team @devops-team

# Core service implementations
src/backend/account-service/**/* @backend-team
src/backend/transaction-service/**/* @backend-team
src/backend/budget-service/**/* @backend-team
src/backend/investment-service/**/* @backend-team

# Shared libraries and utilities
src/backend/shared/**/* @backend-team

# Documentation ownership
docs/**/* @project-leads @backend-team @frontend-team

# Package dependencies and lock files
package.json @devops-team @backend-team
package-lock.json @devops-team @backend-team
yarn.lock @devops-team @backend-team

# Configuration files
.env.example @devops-team
.eslintrc* @backend-team @frontend-team
.prettierrc* @backend-team @frontend-team
tsconfig.json @backend-team @frontend-team

# Docker configurations
Dockerfile* @devops-team
docker-compose*.yml @devops-team
.dockerignore @devops-team

Add public-samples/p1-ib1087/src/web/src/types/navigation.ts
  src/web/src/types/navigation.ts
Owners: @frontend-team

Add public-samples/p1-ib1087/src/web/src/types/theme.ts
  src/web/src/types/theme.ts
Owners: @frontend-team

Add public-samples/p1-ib1087/src/web/src/utils/analytics.ts
  src/web/src/utils/analytics.ts
Owners: @frontend-team

Add public-samples/p1-ib1087/src/web/src/utils/formatters.ts
  src/web/src/utils/formatters.ts
Owners: @frontend-team

Add public-samples/p1-ib1087/src/web/src/utils/security.ts
  src/web/src/utils/security.ts
Owners: @frontend-team

Add public-samples/p1-ib1087/src/web/src/utils/storage.ts
  src/web/src/utils/storage.ts
Owners: @frontend-team

Add public-samples/p1-ib1087/src/web/src/utils/validators.ts
  src/web/src/utils/validators.ts
Owners: @frontend-team

Add public-samples/p1-ib1087/src/web/test/setup.ts
  src/web/test/setup.ts
Owners: @qa-team, @frontend-team

Add public-samples/p1-ib1087/src/web/test/mocks/api.ts
  src/web/test/mocks/api.ts
Owners: @qa-team, @frontend-team

Add public-samples/p1-ib1087/src/web/test/mocks/navigation.ts
  src/web/test/mocks/navigation.ts
Owners: @qa-team, @frontend-team

Add public-samples/p1-ib1087/src/web/test/mocks/storage.ts
  src/web/test/mocks/storage.ts
Owners: @qa-team, @frontend-team

Add public-samples/p1-ib1087/blitzy/documentation/Input Prompt.md
  blitzy/documentation/Input Prompt.md
Owners: @project-leads

Add public-samples/p1-ib1087/blitzy/documentation/Project Guide.md
  blitzy/documentation/Project Guide.md
Owners: @project-leads

Add public-samples/p1-ib1087/blitzy/documentation/Technical Specifications.md
  blitzy/documentation/Technical Specifications.md
Owners: @project-leads

Add public-samples/p1-ib1087/infrastructure/README.md
  infrastructure/README.md
Owners: @devops-team

Add public-samples/p1-ib1087/infrastructure/docker/logging/elasticsearch/elasticsearch.yml
  infrastructure/docker/logging/elasticsearch/elasticsearch.yml
Owners: @devops-team

Add public-samples/p1-ib1087/infrastructure/docker/logging/fluentd/fluent.conf
  infrastructure/docker/logging/fluentd/fluent.conf
Owners: @devops-team

Add public-samples/p1-ib1087/infrastructure/docker/logging/kibana/kibana.yml
  infrastructure/docker/logging/kibana/kibana.yml
Owners: @devops-team

Add public-samples/p1-ib1087/infrastructure/docker/monitoring/alertmanager/alertmanager.yml
  infrastructure/docker/monitoring/alertmanager/alertmanager.yml
Owners: @devops-team

Add public-samples/p1-ib1087/infrastructure/docker/monitoring/grafana/datasources.yml
  infrastructure/docker/monitoring/grafana/datasources.yml
Owners: @devops-team

Add public-samples/p1-ib1087/infrastructure/docker/monitoring/grafana/dashboards/databases.json
  infrastructure/docker/monitoring/grafana/dashboards/databases.json
Owners: @devops-team

Add public-samples/p1-ib1087/infrastructure/docker/monitoring/grafana/dashboards/kubernetes.json
  infrastructure/docker/monitoring/grafana/dashboards/kubernetes.json
Owners: @devops-team

Add public-samples/p1-ib1087/infrastructure/docker/monitoring/grafana/dashboards/services.json
  infrastructure/docker/monitoring/grafana/dashboards/services.json
Owners: @devops-team

Add public-samples/p1-ib1087/infrastructure/docker/monitoring/prometheus/prometheus.yml
  infrastructure/docker/monitoring/prometheus/prometheus.yml
Owners: @devops-team

Add public-samples/p1-ib1087/infrastructure/k8s/cert-manager/cert-manager-values.yaml
  infrastructure/k8s/cert-manager/cert-manager-values.yaml
Owners: @devops-team

Add public-samples/p1-ib1087/infrastructure/k8s/ingress/nginx-values.yaml
  infrastructure/k8s/ingress/nginx-values.yaml
Owners: @devops-team

Add public-samples/p1-ib1087/infrastructure/k8s/logging/elasticsearch-values.yaml
  infrastructure/k8s/logging/elasticsearch-values.yaml
Owners: @devops-team

Add public-samples/p1-ib1087/infrastructure/k8s/logging/fluentd-values.yaml
  infrastructure/k8s/logging/fluentd-values.yaml
Owners: @devops-team

Add public-samples/p1-ib1087/infrastructure/k8s/logging/kibana-values.yaml
  infrastructure/k8s/logging/kibana-values.yaml
Owners: @devops-team

Add public-samples/p1-ib1087/infrastructure/k8s/monitoring/alertmanager-values.yaml
  infrastructure/k8s/monitoring/alertmanager-values.yaml
Owners: @devops-team

Add public-samples/p1-ib1087/infrastructure/k8s/monitoring/grafana-values.yaml
  infrastructure/k8s/monitoring/grafana-values.yaml
Owners: @devops-team

Add public-samples/p1-ib1087/infrastructure/k8s/monitoring/prometheus-values.yaml
  infrastructure/k8s/monitoring/prometheus-values.yaml
Owners: @devops-team

Add public-samples/p1-ib1087/infrastructure/k8s/secrets/vault-values.yaml
  infrastructure/k8s/secrets/vault-values.yaml
Owners: @devops-team

Add public-samples/p1-ib1087/infrastructure/scripts/backup-databases.sh
  infrastructure/scripts/backup-databases.sh
Owners: @devops-team

Add public-samples/p1-ib1087/infrastructure/scripts/deploy-logging.sh
  infrastructure/scripts/deploy-logging.sh
Owners: @devops-team

Add public-samples/p1-ib1087/infrastructure/scripts/deploy-monitoring.sh
  infrastructure/scripts/deploy-monitoring.sh
Owners: @devops-team

Add public-samples/p1-ib1087/infrastructure/scripts/init-cluster.sh
  infrastructure/scripts/init-cluster.sh
Owners: @devops-team

Add public-samples/p1-ib1087/infrastructure/scripts/rotate-secrets.sh
  infrastructure/scripts/rotate-secrets.sh
Owners: @devops-team

Add public-samples/p1-ib1087/infrastructure/terraform/backend.tf
  infrastructure/terraform/backend.tf
Owners: @devops-team

Add public-samples/p1-ib1087/infrastructure/terraform/main.tf
  infrastructure/terraform/main.tf
Owners: @devops-team
